<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chazen.ekanban.mapper.ProjectMapper" >
    <!---->
    <!--<resultMap id="userResultMap" type="SysUser" >-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="username" property="username" jdbcType="VARCHAR" />-->
        <!--<result column="password" property="password" jdbcType="VARCHAR" />-->
        <!--<result column="secret_question" property="secretQuestion" jdbcType="VARCHAR"/>-->
        <!--<result column="secret_question" property="secretQuestion" jdbcType="VARCHAR"/>-->
        <!--<result column="secret_question_answer" property="secretQuestionAnswer" jdbcType="VARCHAR"/>-->
        <!--<result column="email_address" property="emailAddress" jdbcType="VARCHAR"/>-->
        <!--<result column="last_password_reset_date" property="lastPasswordResetDate" jdbcType="DATE"/>-->
    <!--</resultMap>-->


    <!--<insert id="save" parameterType="SysUser" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into sys_user(username, password, secret_question, secret_question_answer, email_address, last_password_reset_date) values (#{username},#{password},#{secretQuestion},#{secretQuestionAnswer},#{emailAddress},#{lastPasswordResetDate})-->
    <!--</insert>-->

    <!--<select id="findUserBySecretIdentity" parameterType="SysUser" resultMap="userResultMap">-->
        <!--select * from sys_user where username=#{username} and secret_question=#{secretQuestion}-->
    <!--</select>-->
    <resultMap id="projectResultMap" type="Project" >
        <id column="project_id" property="projectId" jdbcType="INTEGER" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR" />
        <result column="project_description" property="projectDescription" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="INTEGER"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getProjects" resultMap="projectResultMap">
      select * from project where project_id in (
        select project_id from user_project where user_id=#{userId}
      )
    </select>

    <insert id="saveProject" parameterType="Project" useGeneratedKeys="true" keyProperty="projectId">
      insert into project(project_name, project_description, created_by) values (#{projectName},#{projectDescription},#{createdBy})
    </insert>

</mapper>