<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="chazen.ekanban.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/userMapper.xml"/>
        <mapper resource="mybatis/mapper/projectMapper.xml"/>
        <mapper resource="mybatis/mapper/sprintMapper.xml"/>
        <mapper resource="mybatis/mapper/cardMapper.xml"/>
        <mapper resource="mybatis/mapper/kanbanMapper.xml"/>
        <mapper resource="mybatis/mapper/columnMapper.xml"/>
    </mappers>
</configuration>